#dotheyacceptbitcoin-hello-world-button {
  list-style-image: url("chrome://dotheyacceptbitcoin/skin/bitcoin19.png");
}
#dotheyacceptbitcoin-no-accept-bitcoin {
  list-style-image: url("chrome://dotheyacceptbitcoin/skin/noaccept.png");
}
#dotheyacceptbitcoin-stumble {
  list-style-image: url("chrome://dotheyacceptbitcoin/skin/stumble19.png");
}
